<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm">
  <ion-list>
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input type="password" name="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
          <ion-button (click)="login()">Login</ion-button>
      </ion-item>  
      <ion-item>
          <ion-button routerLink="/forgotpassword">Forgot Password</ion-button>
      </ion-item>
  </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-button routerLink="/signup">Signup</ion-button>
</ion-footer>
