<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ "HOME" | translate: {category: category} | uppercase }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <jokelist *ngFor="let joke of jokes" [joke]="joke"></jokelist>
    
    <ion-card *ngIf="jokes?.length == 0">
      <ion-card-content>
        No record found, try after some time.
      </ion-card-content>
    </ion-card>
    
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
